{% extends 'teammanager/base.html' %}
{% block content %}
{% load static %}
  <div class="row" style="align-self: flex-end; margin-right: 20px;">
    <a href="{% url 'teammanager:add' %}" style="font-size: 40px; font-weight: 100;">+</a>
  </div>
  <h2>Team Members</h2>
  <span class="mb-5">You have {{ existing_members|length }} team members.</span>
  {% if existing_members %}
  <div class="container">
    {% for member in existing_members %}
    <a class="align-items-center" href="{% url 'teammanager:edit' member.id %}" style="min-width: 100%;">
      <div class="card flex-row mb-3 p-3" style="max-width: 540px;">
          <img class="col" src="{% static 'imagePlaceholder.jpeg' %}" alt="image"
            style="max-width: 70px; height: 70px; border-radius: 50px; padding: 0;">
          <div class="col">
            <div>{{ member.first_name }} {{ member.last_name }} {% if member.isAdmin %} <span>(admin)</span> {% endif %}</div>
            <div>{{ member.location }}</div>
            <div>{{ member.email }}</div>
          </div>
      </div>
    </a>
    {% endfor %}
    </ul>
  </div>
  {% else %}
    <p>No members are added.</p>
  {% endif %}
{% endblock %}